spring:
  application:
    name: hotel-service

  redis:
    host: localhost
    port: 6379

  datasource:
    url: jdbc:postgresql://localhost:5432/hotels
    username: postgres
    password: pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # create, update, validate, none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

resilience4j.circuitbreaker:
  instances:
    redisCache:
      registerHealthIndicator: true
      slidingWindowSize: 10
      minimumNumberOfCalls: 5
      failureRateThreshold: 50
      waitDurationInOpenState: 30s
      automaticTransitionFromOpenToHalfOpenEnabled: true

logging:
  level:
    org.springframework.cache: TRACE
    io.github.resilience4j: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

